.search {
    width: 300px;
    position: relative;
}
.search i {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    font-size: 25px;
    color: var(--white);
}
.search input {
    width: 100%;
    padding: 15px 15px 15px 65px;
    background-color: var(--dark-blue);
    border: none;
    outline: none;
    border-radius: 10px;
    color: var(--white);
}
.search input::placeholder {
    color: white;
}