header {
    height: 80px;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
header .container h1 {
    color: var(--white);
    text-align: center;
}